@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yahoo! Finance Stock Scraper</h1>
    <p><a href="https://github.com/Daniel-Choiniere/MvcFinanceScraper">Click here for Github repo to clone project for yourself!</a></p>
</div>
