@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yahoo! Finance Stock Scraper</h1>
    <h4>Click here for Github repo to clone project for yourself!<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h4>
</div>
